h2 {
    font-size: x-large;
    color: #406600;
}

h3, h4, h5 {
    width: 100%;
    color: #fff;
}

h3 {
    font-size: large;
    padding: 5px 0px 5px 20px;
    margin-left: -20px;
    background-color: #80aa00;
}

h4 {
    font-size: medium;
    padding: 2px 0px 2px 10px;
    margin-left: -10px;
    background-color: #80cc30;
}

h5 {
    font-size: small;
    padding: 2px 0px 2px 0px;
    background-color: #80ee60;
}

body {
    font-family: arial;
    font-size: 12px;
    background-color: #efefef;

    /* Center page */
    text-align: center;
}

.article {
    position: relative;
    top: 15px;
    width: 90%;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px 0px 10px;

    /* Center page */
    margin: 0 auto;
} 

.heading {
    background: url(../images/logo.png) no-repeat;
    display: block;
    height: 64px;
    text-align: center;
}

hr {
    width: 100%;
    background: url(../images/gradient.png) repeat-x;
    padding-top: 64px;
    border: 0px;
}

.toc p {
    color: #406600;
}

.screen {
    background-color: #333;
    color: #0c0;
    width: 70%;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ccc;
}

.table-contents table {
    border-spacing: 0px;
    border-collapse: collapse;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px;
}

.table-contents th {
    color: #fff;
    background-color: #80ee60;
}

.table-contents th, td {
    white-space:nowrap;
    padding: 5px;
}

.table-contents tr:nth-of-type(odd) {
    background-color: #e0ffc0;
}

.table-contents tr:nth-of-type(even) {
    background-color: #ffffff;
}

a {
    color: #608800;
    text-decoration: none
}
